<div class="p-4">
  <form #projectForm="ngForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="title">Give your project a short name - keep it snappy! Maximum length is 50 characters:</label>
      <input type="text"
             id="title"
             name="title"
             class="form-control"
             maxlength="50"
             required
             [(ngModel)]="model.title"
             #title="ngModel"/>
    </div>


    <div class="form-group">
      What type of craft is your project:
      <input type="radio"
             required
             name="type"
             id="knit"
             class="radiobutton ml-2"
             value="knitting"
             [(ngModel)]="model.type"
      />
      <label for="knit"><img src="assets/img/knitting.svg" class="icon"/>Knitting</label>
      <input type="radio"
             required
             name="type"
             class="radiobutton ml-5"
             id="sew"
             value="sewing"
             [(ngModel)]="model.type"/>
      <label for="sew"><img src="assets/img/suit.svg" class="icon"/>Sewing</label>
    </div>
    <div class="form-group">
      <label for="description">Describe your project - add any details of size, colour, material,
        any links to inspirations:</label>
      <textarea id="description"
                class="form-control"
                [(ngModel)]="model.description"
                name="description"
                required
                rows="12"></textarea>
    </div>


    <label for="image">Upload an image - Max image size = 1MB.:</label>

    <input type="file" id="image"
           (change)="preview(file.files)"
           #file
           accept="image/*">

    <!-- when an image is selected, its preview is shown using the technique found at this link -->
    <!--https://www.talkingdotnet.com/show-image-preview-before-uploading-using-angular-7/-->
    <img [src]="imgURL" *ngIf="imgURL" height="200">
    <!--If a project is being edited which has an image associated with it, show that image unless
    a new one has been selected for upload-->
    <img src="data:image/png;base64,{{imagePassedIn}}" *ngIf="imagePassedIn && !imgURL" height="200">


    <!--The button shown on the page depends on if a new project is being created or a project is being
    edited, both in the text displayed and the method called on click -->
    <button *ngIf="!editMode" type="submit" [disabled]="projectForm.invalid" class="myButton">
      Create my project
    </button>

    <button *ngIf="editMode" type="button" [disabled]="projectForm.invalid" (click)="editProject()" class="myButton">
      Save my changes
    </button>
  </form>
</div>
