<div class="p-4">
  <div *ngIf='message!=""' class="error alert-danger">{{message}}</div>
  <form [formGroup]="form">

    <fieldset>
      <legend>Login</legend>
      <div class="form-field">
        <label>Username:</label>
        <input type="text" required class="form-control"  name="username" formControlName="username">
      </div>
      <div *ngIf="(username.dirty || username.touched)" class="alert alert-danger">
      <div *ngIf="username.errors.required">Username is required</div></div>
      <div class="form-field">
        <label>Password:</label>
        <input type="password" required class="form-control" name="password" formControlName="password">
      </div>
    </fieldset>
    <div class="form-buttons">
      <button class="button btn btn-primary"
              (click)="login()">Login</button>
    </div>



  </form>

</div>
