.bg-light {
  background-color: #ebce6f !important;
}

.nav-item {
  padding-left: 20px;

}

.navbar-brand {
  font-family: 'Pacifico', cursive;
  font-size: 26px;
}

.navbar-toggler {
  margin-right:20px;
}

* {
  font-size: 22px;
}


