img.icon {
  width: 40px;
  float: right;
}

.card-img-top {
  height: 250px !important;
  position: relative;
  top: 20px;
}


.threadi-card {
  box-shadow: 4px 4px 8px grey;
  /*outline: 1px solid crimson;*/
}
