<form [formGroup]="profileForm"
      (ngSubmit)="onSubmit()">
  <label>
    First Name:
    <input type="text" formControlName="firstName" required>
  </label>
  <p>Value: {{profileForm.value.firstName}}</p>

  <label>
    Last Name:
    <input type="text" formControlName="lastName">
  </label>

  <div formGroupName="address">
    <h3>Address</h3>

    <label>
      Street:
      <input type="text" formControlName="street">
    </label>

    <label>
      City:
      <input type="text" formControlName="city">
    </label>

    <label>
      State:
      <input type="text" formControlName="state">
    </label>
    <p>Value: {{profileForm.value.address.state}}</p>

    <label>
      Postcode:
      <input type="text" formControlName="postcode">
    </label>
  </div>

  <div formArrayName="aliases">
    <h3>Aliases</h3><button (click)="addAlias()">Add alias</button>

    <div *ngFor="let alias of aliases.controls; let i=index">
      <!--the repeated alias templat -->
      <label>
        Alias:
        <input type="text" [formControlName]="i">
      </label>
    </div>
  </div>

  <p>
    Form Status: {{profileForm.status}}
  </p>

  <button (click)="updateProfile()">Update profile yeah</button>

  <button type="submit" [disabled]="!profileForm.valid">Submit</button>

</form>
