/* You can add global styles to this file, and also import other style files */
/*import bootstrap and font-awesome so they are available in the project*/
@import url(~bootstrap/dist/css/bootstrap.min.css);
@import url(~font-awesome/css/font-awesome.css);

/*define a custom button style to use on various pages
to avoid having to override bootstrap button colours*/
.myButton {
  background-color: #cb7382;
  border: none;
  border-radius: 5px;
  padding: 7px 10px;
  text-align: center;
  text-decoration: none;
}

.myButton:hover {
  background-color: #b45362;
}
