<button *ngIf="!isDisplayed" class="myButton" (click)="showSearch()">Search for projects</button>
<div [hidden]="!isDisplayed" id="searchTools">

<form>
  <div class="form-group">
    Filter projects by type:
    <label for="knit" *ngIf="searchParams.searchType==='knitting'" class="highlight"><img src="assets/img/knitting.svg" class="icon"/>Knitting</label>
    <label for="knit" *ngIf="searchParams.searchType!=='knitting'"><img src="assets/img/knitting.svg" class="icon"/>Knitting</label>
    <input type="radio"
           name="type"
           id="knit"
           value="knitting"
           hidden
           [(ngModel)]="searchParams.searchType"
    >
    <label for="sew" *ngIf="searchParams.searchType==='sewing'" class="highlight"><img src="assets/img/suit.svg" class="icon"/>Sewing</label>
    <label for="sew" *ngIf="searchParams.searchType!=='sewing'"><img src="assets/img/suit.svg" class="icon"/>Sewing</label>
    <input type="radio"
           name="type"
           id="sew"
           value="sewing"
           hidden
           [(ngModel)]="searchParams.searchType">

  </div>




  <label for="search">Search by text</label>
  <input type="text"
         class="form-control"
         id="search"
         name="search"
         [(ngModel)]="searchParams.searchText"
         />
  <button type="submit"
         class="btn btn-dark m-1"
         (click)="submitSearch()"
        >Search</button>
  <button type="button"
          class="btn btn-dark m-1"
          (click)="clearParams()"
  >Remove filter</button>

</form>

</div>
<button *ngIf="isDisplayed" class="myButton" (click)="showSearch()">Hide search tools</button>
