<div class="p-4">
  <form [formGroup]="form">

    <fieldset>
      <legend>Register</legend>
      <div class="form-field">
        <label>Username:</label>
        <input type="text" name="username" formControlName="username">
      </div>
      <div class="form-field">
        <label>Email:</label>
        <input type="text" name="email" formControlName="email">
      </div>
      <div class="form-field">
        <label>Password:</label>
        <input type="password" name="password" formControlName="password">
      </div>
      <!--<div class="form-field">-->
        <!--<label>Confirm Password:</label>-->
        <!--<input type="password" name="password" formControlName="password">-->
      <!--</div>-->
    </fieldset>
    <div class="form-buttons">
      <button class="button btn btn-primary"
              (click)="register()">Register</button>
    </div>



  </form>

</div>
