<!--Template for the user registration page - a reactive form-->
<div class="p-4">
  <H1>Register</H1>
  <!--sets the registerForm form group which is created in the compontent to be the data model for this form,
  and to call the onSubmit() method when the submit button is pressed-->
  <form [formGroup]="registerForm"
        (ngSubmit)="onSubmit()">

    <div class="form-group row">
      <label for="username"
             class="control-label col-md-3 col-form-label">
        Username:</label>
      <input type="text"
             required
             class="form-control col-md-7"
             id="username"
             formControlName="username"
      >

      <!--A div which appears only if the form has been submitted with an invalid username, i.e. if errors
      are present on the username field. This div contains the relevant error messages-->
      <div *ngIf="submitted && username.invalid && (username.dirty || username.touched)" class="text-danger p-3">
        <!--If the error on username field is "required", i.e. no username is provided, show this message-->
        <div *ngIf="username.errors?.required">Username is required</div>
      </div>
      <!--If the username taken error is present on the username field, then show this message-->
      <div *ngIf="username.errors?.UsernameTaken" class="text-danger p-3">Sorry, that username is taken</div>
    </div>


    <div class="form-group row">
      <label for="email"
             class="control-label col-md-3 col-form-label">
        Email:</label>
      <input type="email"
             email
             required
             class="form-control col-md-7"
             id="email"
             formControlName="email"
      >
      <!--A div which appears only if the form has been submitted with an invalid email, i.e. if errors
      are present on the email field. This div contains the relevant error messages-->
      <div *ngIf="submitted && email.invalid" class="text-danger p-3">
        <!--If the error on email field is "required", i.e. no email is provided, show this message-->
        <div *ngIf="email.errors.required">Email is required</div>
        <!--If the error on email field is "email", i.e. the entered text does not resemble an email, show this message-->
        <div *ngIf="email.errors.email">Please provide a valid email address</div>
      </div>
    </div>


    <div>
      <div class="form-group row">
        <label for="password1"
               class="control-label col-md-3 col-form-label">
          Password:</label>
        <input type="password"
               required
               class="form-control col-md-7"
               id="password1"
               formControlName="password1"
               minlength="8"
        >

        <!--Like the previous cases, if password is invalid show this div; if the error is "required" then
        show the provided message-->
        <div *ngIf="submitted && form.password1.invalid" class="text-danger">
          <div *ngIf="form.password1.errors?.required">Password is required</div>
        </div>

        <!--Lists the requirements for the password - requirements which are not yet met are shown in the "text-danger" colour
        (red) while those that have passed are green. A different message exists for each possible error. In all cases
        the requirement is not met if the field is empty, therefore the "required" error always results in the message shown red-->
        <div class="p-3">Requirements:
          <ul>
            <li
              [ngClass]="registerForm.controls['password1'].hasError('required') || registerForm.controls['password1'].hasError('minlength') ? 'text-danger': 'text-success'">
              at least 10 characters long
            </li>
            <li
              [ngClass]="registerForm.controls['password1'].hasError('required') || registerForm.controls['password1'].hasError('hasNumber') ? 'text-danger': 'text-success'">
              at least 1 number,
            </li>
            <li
              [ngClass]="registerForm.controls['password1'].hasError('required') || registerForm.controls['password1'].hasError('hasCapitalCase') ? 'text-danger': 'text-success'">
              at least 1 uppercase letter,
            </li>
            <li
              [ngClass]="registerForm.controls['password1'].hasError('required') || registerForm.controls['password1'].hasError('hasSmallCase') ? 'text-danger': 'text-success'">
              at least 1 lowercase letter
            </li>
          </ul>
        </div>
      </div>

      <div class="form-group row">
        <label for="password2"
               class="control-label col-md-3 col-form-label">
          Confirm Password:</label>
        <input type="password"
               required
               class="form-control col-md-7"
               id="password2"
               formControlName="password2"
               minlength="8"
        >

        <!--Errors for the matching of the two password fields. Firstly, if the confirmation field is empty
        show the following message-->
        <div *ngIf="submitted && form.password2.invalid" class="text-danger p-3">
          <div *ngIf="form.password2.errors?.required">Password confirmation is required</div>
        </div>
        <!--If the "noPasswordMatch" error exists on the password2 field, show the following message-->
        <div class="text-danger" *ngIf="registerForm.controls['password2'].hasError('NoPasswordMatch')">Passwords must
          match
        </div>

      </div>


    </div>


    <div class="form-buttons">
      <button type="submit" class="button btn btn-primary"
      >Register
      </button>
    </div>


  </form>

</div>
